<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>732213349765-0ft9vkaminh3u6k3h40v4jctuap7hlqh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.732213349765-0ft9vkaminh3u6k3h40v4jctuap7hlqh</string>
	<key>API_KEY</key>
	<string>AIzaSyAwozwUbwxJd7HjMad1w1AeYORxiYlFFBo</string>
	<key>GCM_SENDER_ID</key>
	<string>732213349765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>berkaydisli.FirebasePracticeApp</string>
	<key>PROJECT_ID</key>
	<string>fir-practiceapp-330a9</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-practiceapp-330a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:732213349765:ios:04b8e7c739c9822ccd88ec</string>
</dict>
</plist>